body{font-size:12px;}

#login_jPanel1{
  top: 0px;
  height: 634px;
  width: 1440px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: url("Jxcdc/source/image/jloginbg02.jpg") no-repeat;
}

#login_jPanel2{
  top: 257px;
  height: 333px;
  width: 1074px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#login_jHtmlForm1_form{
  position:absolute;
  left: 706px;
  top: 75px;
  width: 303px;
  height: 174px;
}

#login_jLabel4{
  left: 345px;
  top: 131px;
  font-size: 24px;
  font-family: "ºÚÌå";
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

#login_jLabel1{
  left: 49px;
  top: 31px;
  font-size: 14px;
  line-height: 16px;
}

#login_username{
  left: 119px;
  top: 28px;
  width:170px;
  height:14px;
}

#login_jLabel2{
  left: 49px;
  top: 63px;
  font-size: 14px;
  line-height: 16px;
}

#login_passname{
  left: 119px;
  top: 60px;
  width:171px;
  height:14px;
}

#login_jLabel3{
  left: 300px;
  top: 99px;
  font-size: 24px;
  font-family: "ºÚÌå";
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

#login_jImages2{
  left: 369px;
  top: 44px;
  height: 45px;
  width: 45px;
}

#login_jLabel5{
  left: 818px;
  top: 40px;
  font-size: 24px;
  font-family: "Î¢ÈíÑÅºÚ";
  font-weight: bold;
  color: #f0f0f0;
  line-height: 26px;
}

#login_jLabel6{
  left: 927px;
  top: 56px;
  color: #f0f0f0;
  line-height: 14px;
}

#login_loginbtn{
  left: 79px;
  top: 114px;
  width:79px;
  height:20px;
}

#login_jButton2{
  left: 192px;
  top: 114px;
  width:79px;
  height:20px;
}

